* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lemon milk";
    src: url(./font/lemon_milk/);
}

:root {
    --branco: #ffffff;
    --preto: #000000;
    --verde-Eco-Raíses: #008024;
    --vermelho-Eco-raíses: #800000;
    --fundo-site: #a1a1a1;
    --contato: #c3c3c3;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    background-color: var(--fundo-site);
}

.titulo {
    display: flex;
    font-family: "Lemon milk", bold;
    font-weight: 600px;
    font-size: 35px;
}

/* -------------Header----------- */

.banner {
    background-image: url(./img/plano\ de\ fundo\ da\ logo.png);
    height: 120vh;
    background-repeat: no-repeat;
    background-position: 0px -10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 100%;
}

header {
    height: 165px;
}

header .container-grid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 234px;
    position: relative;
    top: 35px;
    left: 50px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    color: var(--preto);
    font-family: "Lemon milk";

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--verde-Eco-Raíses);
}

/* ----------------------Sobre------------------------ */

#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
}

#sobre img {
    max-width: 460px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#sobre h2 {
    margin-right: 5px;
    color: var(--verde-Eco-Raíses);
}

#sobre p {
    font-family: "Lemon milk", light;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}

/* -----------------------Parallax-------------------- */

#parallax {
    height: 250px;

    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/Parallax.svg);

    margin-bottom: 120px;

    background-attachment: fixed;

    background-size: 100%;
}

/* ----------------Serviços--------------- */

#serviços {
    margin-bottom: 120px;
}

#serviços .titulo {
    justify-content: center;
    margin-bottom: 55px;
}

#serviços h2 {
    margin-left: 5px;
    color: var(--verde-Eco-Raíses);
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.linha-vermelha {
    height: 250px;
    width: 100vw;
    background: #800000;
    background: linear-gradient(0deg, rgba(128, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 90%);
    position: absolute;
    z-index: -1;
    top: calc(50% - 125px);
}

#serviços .card {
    height: 450px;
    width: 300px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#serviços .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--vermelho-Eco-raíses);
    font-family: "Lemon milk", light;
    text-align: center;
}

#serviços .card img {
    height: 250px;
    width: 200px;
}

#serviços .card:hover {
    border: solid 5px var(--verde-Eco-Raíses);
}

#serviços .card:hover img {
    fill: var(--verde-Eco-Raíses);
}

#serviços .card:hover h3 {
    color: var(--verde-Eco-Raíses);
}

/* ------------------Contato---------------- */

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-top: 100px;
}

#contato .titulo {
    justify-content: center;
    margin-bottom: 55px;
    color: var(--verde-Eco-Raíses);
}

#contato h2 {
    margin-left: 5px;
}

#contato form {
    max-width: 980px;
    width: 90%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 3px var(--vermelho-Eco-raíses);
    border-radius: 40px;
    background-color: var(--vermelho-Eco-raíses);

    color: var(--branco);
    font-family: "Lemon milk", light;
    font-size: 17px;
}

.campo {
    width: 60%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo input {
    height: 40px;

    color: var(--branco);
    background-color: #550000;

    border: none;
    border-radius: 4px;

    text-indent: 10px;
    outline: none;
}


.campo-descricao textarea {
    color: var(--branco);
    background-color: #550000;

    border: none;
    border-radius: 4px;
    padding: 10px;
    outline: none;

    resize: none;
}

.campo label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "Lemon milk", light;
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #d4d4d4;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--verde-Eco-Raíses);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: #550000;
    color: var(--branco);

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Lemon milk", bold;
    font-weight: 700;

    text-transform: uppercase;
    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: var(--verde-Eco-Raíses);
}

/* ---------------footer----------------- */

footer {
    height: 250px;
    background-image: url(./img/parallax\ footer.svg);
}

footer img {
    height: 200px;

    display: flex;
    align-self: center;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p {
    color: var(--branco);

    font-family: "Lemon milk", light;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.icones-redes {
    width: 240px;

    display: flex;
    justify-content: space-between;
}

.icones-redes svg {
    height: 80px;
    width: 50px;
}

.icones-redes a {
    color: var(--branco);
}

.icones-redes a:hover {
    color: var(--vermelho-Eco-raíses);
}

